.right-side-bar{
    float:right; 
    width: 300px;
    margin: 40px 0px 15px 24px;
    font-size: 14px;
    
}

.widget{
    margin-top: 10px;
}

.widget h4{
    padding: 10px;
    margin: 0px;
    background-color: #fbf3d5;
    border: solid 1px #f1e5bc;
}

.right-side-bar-1{
    border: solid 1px #f1e5bc;
}

.right-side-bar-1-1 p, .right-side-bar-1-2 p{
    font-size: 13px;
    margin: 0;
}

.right-side-bar-1-1 , .right-side-bar-1-2{
    padding: 10px;
    background-color: #fdf7e2;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 14px;
}

/* ------------------------------------------------- */

.widget-tags{
    margin-top: 40px;
    box-shadow: 3px 3px 10px rgb(0 0 0/ 5%),
        -3px -3px 10px rgb(0 0 0/ 5%);
}

.widget-tags h4{
    padding: 10px;
    margin: 0px;
    background-color: #f8f9f9;
    border: solid 1px #e3e6e8;
    
}

.widget-tags-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #e3e6e8;
    padding: 10px;
}

.widget-tags-div p{
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 2px;
    font-size: 14px;
}


